@media(min-width: 969px){
	.header{
		position: relative;
	}

	h1{
		font-size: 60px;
		letter-spacing: -0.5px;
	}
	
	h2{
		font-size: 32px;
	}

	h3{
		font-size: 30px
	}

	.header p{
		font-size: 18px;
		line-height: 24px;
		margin-top: 5px;
		letter-spacing: 0px;
	}

	p{
		font-size: 16px;
	}

	.header{
		height: 846px;
	}

	.wrapper{
		max-width: 960px;
	}

	.logo{
		float: left;
	}
	
	.menu-top{
		float: right;
	}

	.menu-top .menu__item{
		margin-left: 49px;
	}

	.main-page{
		margin-top: 151px;
	}

	.main-page .iphone{
		float: right;
	}

	.iphone img{
		width: 275px;
		height: auto;
		margin-right: 70px;
	}

	.main-page article{
		width: 500px;
		margin-top: 96px;
		float: left;
		text-shadow: 0px 1px 2px #000;
	}

	.header:after{
		content: '';
		display: block;
		position: absolute;
		top: 278px;
		width: 100%;
		height: 400px;
		background: rgba(0, 0, 0, 0.2);
	}

	.header .butns{
		right: 18%;
		top: 91%;
		margin-right: 100px;
	}

	.arrow__item{
		top: 50%;
	}

	.arrow-left{
		left: 0%;
	}

	.arrow-right{
		right: 0%;
	}

	/* SECOND SCREEN ----------------------------------------------------*/

	.about-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 342px;
		padding: 76px 0 30px;
	}

	.about-block__item{
		display: inline-block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 30%;
	}

	.about-block__item.repair{
		margin-right: 59px;
	}

	.about-block__item p{
		height: 114px;
	}

	.white-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 487px;
	
		padding: 100px 0 68px;
	}

	.comment{
		width: 44%;
		float: left;
		height: 271px;
		/*padding: 3% 3.5%;*/
		margin-left: 3%;
	}

	.comment:after{
		content: '';
		position: absolute;
		top: 100%;
		left: 85%;
		display: block;
		width: 20px;
		height: 20px;
		background: url(../img/comment-triangle.png) 0px 0px no-repeat;
	}

	.comment span{
		display: inline;
	}

	.comment img{
		top: 4%;
		left: -8%;
		transform: translateX(8%);
		transform: translateY(4%);
	}

	.aside{
		float: right;
		width: 45%;
		margin-right: 20px;
	}

	.butns-white{
		bottom: 8%;
		/*right: 65%;*/
		transform: translate(-30%, -25%);
	}

	.icon-block{
		padding: 24px 0 12px;
	}

	
	.icon__list{
		width: 80%;
		text-align: justify;
	}

	.icon__list:after{
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}

	.news{
		padding: 7.8% 0px 10%;
	}

	.infonews,
	.recent_comment,
	.category{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 31%;
		vertical-align: top;
		overflow: hidden;
		height: 200px;
		padding: 10px;
	}

	.infonews{
		float: left;
	}

	.category{
		float: right;
	}

	.recent_comment{
		margin: 0 auto;
	}

	.news p{
		overflow: hidden;
		margin-top: 10px;
		line-height: 25px;
	}

	.infonews h4{
		color: #c5c5c5;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-style: italic;
		text-shadow: 1px 1px #fff;
	}

	.infonews h3{
		font-size: 48px;
	}

	.infonews h3 span{
		color: #b9b9b9;
	}

	.news h3{
		margin-bottom: 10px;
	}

	.category-add{
		display: none;
	}

	footer{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 115px;
		padding: 41px 0px;
	}

	.menu-bottom{
		float: left;
	}

	.menu-bottom .menu__item{
		margin-right: 40px;
	}

	.menu-bottom .menu__link{
		font-size: 20px;
	}

	.copy{
		float: right;
		margin-top: 15px;
	}

}
@media (min-width: 768px) and (max-width: 959px){
	
	h1{
		font-size: 48px;
	}

	h2{
		font-size: 24px;
		margin-top: 7px;
		letter-spacing: 0px;
		height: 24px;
		overflow: hidden;;
	}

	h3{
		font-size: 24px;
	}

	p{
		font-size: 16px;
		line-height: 26px;
		margin-top: 8px;
		overflow: hidden;
		height: 100px;
	}

	/* wrapper ------------------------------------------------------------*/

	.wrapper{
		max-width: 768px;
		padding-left: 24px;
		padding-right: 24px;
	}

	.header{
		height: 798px;
	}

	.menu-top{
		float: none;
	}

	.menu-top .menu__item{
		margin-right: 48px;
		margin-top: 26px;
	}

	.main-page{
		height: 415px;
		margin-top: 49px;
	}

	.main-page .iphone{
		float: right;
		margin-right: 16px;
	}

	.iphone img{
		width: 275px;
		height: auto;
	}

	.main-page article{
		position: absolute;
		width: 271px;
		float: left;
		margin: 0px 0px 0px 24px;
		letter-spacing: -0.3px;
		overflow: hidden;
		top: 52%;
		transform: translateY(-51%);
	}
	
	.header:after{
		content: '';
		top: 244px;
		height: 400px;
	}

	.header .butns{
		right: 18%;
		margin-top: 45px;
	}

	.arrow__item{
		top: 50%;
		transform: translateY(-50%);
	}

	.arrow-left{
		left: 0%;
	}

	.arrow-right{
		right: 0%;
	}

	.about-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 343px;
		padding-top: 76px;
	}

	.about-block__item{
		display: inline-block;
		width: 33%;
		padding: 0%;
	}

	.about-block__header{
		margin-bottom: 5px;
	}

	.about-block__p{
		height: 135px;	
		margin-top: 0;
		line-height: 23px;
		word-break: break-all;
	}

	.about-block__item.speak:before{
		content: '';
		display: block;
		width: 30px;
		height: 132px;
		margin-right: 24px;
		margin-left: 24px;
		float: left;
		background-image: url(../img/sprite-icons.png);
		background-position: -50px 7px;
		background-repeat: no-repeat;
	}

	.about-block__item.music:before{
		content: '';
		display: block;
		width: 39px;
		height: 132px;
		margin-right: 17px;
		margin-left: 39px;
		float: left;
		background-image: url(../img/sprite-icons.png);
		background-position: -91px 6px;
		background-repeat: no-repeat;
	}

	.about-block__item .readmore{
		margin-top: 15px;
	}

	.white-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 486px;
		padding-top: 100px;
	}

	.comment{
		width: 44%;
		height: 272px;
		float: left;
		height: 271px;
		padding: 4% 5.5%;
		margin-left: 3%;
	}
	
	.comment p{
		height: 66%;
		word-break: break-all;
	}

	.comment img{
		top: 6%;
		left: -8%;
		transform: translateX(4%);
		transform: translateY(-6%);
	}

	.aside{
		float: right;
		width: 46%;
	}

	.aside__header{
		font-size: 30px;
	}

	.butns-white{
		bottom: 15%;
		right: 65%;
	}

	.icon-block{
		padding: 25px 0px 12px;
	}

	/* -------------------------------------------------------------------- */
	.icon__list{
		width: 100%;
		float: left;
		text-align: justify;
	}

	.icon__list:after{
		content: '';
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		display: inline-block;
	}

	.news{
		position: relative;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 396px;
		padding-top: 100px;
	}

	.news p{
		height: 189px;
	}
	
	.infonews{
		display: none;
	} 

	.recent_comment{
		display: none;
	}

	.category,
	.category-add{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 26%;
	}

	.category{
		float: left;
	}

	.category-add__right{
		float: right;
	}

	.category-add__center{
		margin: 0 auto;
	}

	footer{
		height: 200px;
	}

	.menu-bottom{
		padding-top: 40px;
	}

	.menu-bottom .menu__item{
		margin-right: 5.5%;
	}

	.menu-bottom .menu__link{
		font-size: 20px;
	}

	.copy{
		float: right;
		margin-top: 26px;
		margin-right: 0px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	
	h1{
		font-size: 36px;
	}
	
	h3{
		font-size: 24px;
	}

	.wrapper{
		max-width: 480px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.header{
		height: 548px;
	}

	.logo{
		display: block;
		margin: 0 auto;
		float: none;
		text-align: center;
	}

	.main-page{
		margin-top:29px;
	}

	.main-page .iphone{
		float: right;
		margin-right: 9px;
	}

	.iphone img{
		width: 192px;
		height: auto;
	}

	.main-page article{
		position: absolute;
		top: 41%;
		transform: translateY(-41%);
		margin-left: 12px;
	}

	.header h2{
		width: 202px;
		height: 18px;
		overflow: hidden;
		font-size: 18px;
	}
	
	.header p{
		display: none;
	}

	.header .butns{
		left: 43%;
		top: 70%;
	}
	
	.arrow__item{
		top: 50%;
		transform: translateY(-50%);
	}

	.arrow-left{
		left: 0%;
	}

	.arrow-right{
		right: 0%;
	}

	.menu-lg{
		display: none;
	}

	.dropdown-menu{
		display: block;
		margin-top: 20px;
	}

	.dropdown-menu li:hover ul.menu.menu-sm{
		display: block;
	}

	.header:after{
		content: '';
		display: block;
		position: absolute;
		top: 202px;
		width: 100%;
		height: 246px;
		background: rgba(0, 0, 0, 0.2);
	}

	.about-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 598px;
		padding-top: 77px;
	}

	.about-block__item{
		width: 100%;
		height: 132px;
		margin: 0 auto 25px;
	}

	.about-block .about-block__item:before{
		content: '';
		display: block;
		width: 39px;
		height: 132px;
		margin-right: 20px;
		float: left;
		background-image: url(../img/sprite-icons.png);
		background-position: -5px 0;
		background-repeat: no-repeat;
	}

	.about-block__item.speak:before{
		content: '';
		display: block;
		width: 30px;
		height: 132px;
		margin-right: 28px;
		float: left;
		background-image: url(../img/sprite-icons.png);
		background-position: -50px 7px;
		background-repeat: no-repeat;
	}

	.about-block__item.music:before{
		content: '';
		display: block;
		width: 39px;
		height: 132px;
		margin-right: 11px;
		margin-left: 8px;
		float: left;
		background-image: url(../img/sprite-icons.png);
		background-position: -91px 6px;
		background-repeat: no-repeat;
	}

	.about-block__item.repair,
	.about-block__item.music{
		float: none;
	}

	.about-block__header{
		margin-bottom: 0;
	}

	.about-block p{
		line-height: 24px;
		height: 70px;
	}
	
	.about-block__item.repair .readmore,
	.about-block__item.speak .readmore{
		margin-right: 0;
	}

	.white-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 787px;
		padding: 69px 0px;
	}

	.comment{
		width: 416px;
		height: 273px;
		padding: 7% 9%;
		margin-left: 4%;

	}

	.comment img{
		top: 7%;
		left: -7%;
		transform: translate(7%, -9%);
	}

	.comment h3{
		font-size: 30px;
	}

	.comment span{
		display: inline-block;
	}

	.comment p{
		margin-top: 12px;
		line-height: 24px;
	}

	.butns-white{
		top: 49%;
		left: 45%;
		transform: translate(-45%, -43%);
	}

	.aside{
		padding: 14% 8% 14% 13%;
	}

	.aside__header{
		font-size: 30px;
	}

	.aside__list{
		margin-top: 20px;
	}

	.icon-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 233px;
		padding: 27px 0;
		margin: 0 auto;
	}

	.icon-block li{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 32%;
		padding: 10px;
	}

	.infonews,
	.recent_comment{
		display: none;
	}
	
	.news{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 669px;
		padding-top: 15%;
		padding-bottom: 5%;
	}

	.news h3{
		margin-bottom: 5px;
	}

	.news article{
		width: 100%;
		margin: 0px auto 63px;
	}

	.news p{
		overflow: hidden;
		height: 92px;
		line-height: 24px;
	}

	footer{
		height: 200px;
		text-shadow: 0px 1px 2px #000;
	}

	footer .wrapper{
		padding-top: 40px;
	}

	footer .menu{
		margin-bottom: 17px;
		text-align: justify;
	}

	footer .menu__item{
		display: inline-block;
		text-align: left;
	}

	footer .menu:after{
		content: '';
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		display: inline-block;
	}

	.menu-bottom .menu__link{
		text-shadow: 0px 1px 2px #000;
		font-size: 20px;
	}
}

@media (max-width: 479px) {
	
	h1{
		font-size: 36px;
	}
	
	h3{
		font-size: 24px;
	}

	.header{
		height: 516px;
	}
	
	.wrapper{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 320px;
		padding: 0 20px;
	}

	.logo{
		display: block;
		margin: 0 auto;
	}

	/* ---------------------------------------------------------------- */

	.menu-lg{
		display: none;
	}

	.dropdown-menu{
		display: block;
		margin-top: 30px;
	}

	.dropdown-menu li:hover ul.menu.menu-sm{
		display: block;
	}

	.main-page{
		height: 246px;
	}

	.main-page .iphone{
		display: none;
	}
	
	.main-page article{
		position: absolute;
		top:50%;
		left: 51%;
		transform: translate(-50%);
	}

	.header h2{
		font-size: 18px;
		width: 202px;
		overflow: hidden;
		height: 18px;
	}

	.header p{
		display: none;
	}

	.header .butns{
		left: 51%;
		transform: translateX(-50%);
		margin-top: 11px;
	}

	.arrow__item{
		top: 50%;
		transform: translateY(-50%);
	}

	.arrow-left{
		left: 0%;
	}

	.arrow-right{
		right: 0%;
	}

	.about-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 598px;
		padding: 70px 0px 0px;
	}

	.about-block__item.repair,
	.about-block__item.music{
		float: none;
	}

	.about-block__item{
		width: 100%;
		height: 132px;
		margin-bottom: 25px;
	}

	.about-block .about-block__item:before{
		display: block;
		margin-right: 4%;
		margin-left: 2%;
		
	}

	.about-block p{
		line-height: 24px;
		height: 70px;
	}

	.about-block__item.repair .readmore,
	.about-block__item.speak .readmore{
		margin-right: 0;
		margin-top: 15px;
	}

	.about-block__item.music{
		margin-bottom: 40px;
	}

	.about-block__item.repair:before{
		background-position: -10px 2px;
	}

	.about-block__item.music .readmore{
		margin-top: 15px;
	}

	.about-block__item.speak:before{
		margin-right: 22px;
	}

	.white-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 787px;
		padding-top: 71px;
	}

	.white-block h3{
		color: #454545;
	}

	.white-block span{
		color: #edbfff;
	}

	.comment{
		position: relative;
		width: 94%;
		margin-left: 20px;
		margin-bottom: 0;
		padding: 9% 8% 7% 13%;
	}

	.comment img{
		top: 6%;
		left: -11%;
		transform: translate(-3%, 11%);
	}

	.comment span{
		display: block;
	}

	.comment p{
		height: 174px;
		margin-top: 5px;
		line-height: 24px;
	}

	.butns-white{
		top: 48%;
		left: 57%;
		transform: translate(-58%, -47%);
	}

	.aside{
		margin-top: 90px;
	}

	.aside__header{
		font-size: 30px;
	}

	.aside li{
		height: 50px;
		overflow: hidden;
		margin-bottom: 10px;
	}

	.aside li:last-child{
		margin-bottom: 0;
	}

	.aside img{
		float: left;
		margin-left: 0px;
		margin-right: 15px;
	}

	.aside__subheader{
		overflow: hidden;
		height: 19px;
		line-height: 23px;
	}

	aside p{
		line-height: 24px;
		word-break: break-all;
		letter-spacing: -0.1px;
	}

	.aside .readmore{
		letter-spacing: 0.5px;
	}
	
	.icon-block{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 423px;
		padding-top: 51px;
	}

	.icon-block li{
		width: 45%;
		margin-bottom: 50px;
	}

	.news{
		display: none;
	}

	.menu-bottom{
		display: none;
	}

	footer{
		height: 202px;
	}

	footer .wrapper{
		padding-top: 43px;
	}
}
