@font-face { 
 font-family: "lucida Sans"; 
 src: url('../font/lucida_sans_unicode_regular-webfont.eot'); 
 src: url('../font/lucida_sans_unicode_regular-webfont.eot') format('embedded-opentype'), 
 url('../font/lucida_sans_unicode_regular-webfont.woff2') format('woff2'), 
 url('../font/lucida_sans_unicode_regular-webfont.woff') format('woff'), 
 url('../font/lucida_sans_unicode_regular-webfont.ttf') format('truetype'); 
 font-weight: normal; 
 font-style: normal; 
}
html, body {
  /*  height: 100%;*/
  font-family: "lucida Sans", Arial, sans-serif; 
}
.page{
  width: 912px;
  margin: auto;
 /* margin-left: 45px;
 margin-right: 45px;*/
}

header{
  display: block;
  margin-top: 16px;  
}
.head-line{
  margin-left: -5px;
  margin-top: 3px;
  height: 29px;
  /* border:1px solid red; */
}
.head-img{
  margin-top: -2px;  
}
header span{
 /*margin-left: 36px;
 font-size: 18px;
 letter-spacing: 0.5px;
 color: #5e696d;
 font-family: Arial, Sans-serif;*/
 margin-left: 4px;
 margin-top: -3px;
 font-size: 18px;
 letter-spacing: 0.5px;
 color: #5e696d;
 font-family: Arial, Sans-serif;
 float: left;
}
.contacts{
  /*display: inline-block;
  padding-top: 5px;
  position: relative;*/
  float: left; 
 width: auto; 
 height: 27px; 
  font-size: 19px; 
 color: #5e696d; 
 margin-top: 7px; 
  margin-bottom: 3px; 
  margin-left: 7px; 
}
.tel{   
 /* width: 22px; 
  position: absolute;
  top: 3px;
  left: 12px;*/

    float: left; 
 margin-left: 2px; 
 margin-top: -5px; 
  width: 22px; 
 height: 21px;
} 
.registr{
 display: inline-block;
 height: 26px;
 background: #0f3c61;
 /*background: linear-gradient(to top, #2e7ac4, #51b1dc) ; */
 box-shadow: 1px 1px 6px rgba(0,0,0,0.5); 
 border-radius: 3px;  

 margin-top: -2px;

 margin-left: 16px;
 padding-left: 6px;
 padding-right: 15px;
}
.registr img {
  vertical-align: middle;
}

.registr input { 
  display: inline-block;
  border:1px solid #97a2a6; 
  border-radius: 2px;   
  height: 14px;  
  color: #595c5d; 
  font-size: 12px; 
  font-family: "Lucida Sans Unicode",Arial, Sans-serif;   
 /* line-height: 11px; */
 
  width: 110px; 
  letter-spacing: -0.6px; 
} 
.registr input:last-child{ 
  border: none; 
  width: 36px;   
  background-color: transparent; 
  margin: 4px 1px 0 -2px; 
  cursor: pointer; 
  font-size: 12px; 
  line-height: 14px;
  color: white;
}
.registr ul{
  display: inline-block;
  margin-left: -2px;
}
.registr ul li{
  display: inline-block;
  font-size: 12px; 
  line-height: 12px;
  font-family: "Lucida Sans Unicode",Arial, Sans-serif; 
  letter-spacing: -0.9px;
}

.registr ul li:first-child{  
 border-left:1px solid white; 
 padding-left: 2px;
 color: white;
}

.registr ul li:last-child{  

 text-decoration: underline;
 padding-left: 20px;
 padding-right: 10px;
 color:#bfbfbf;
}

/*  -------------------------------------------------------------------- */
/*.line-three {
  display: inline-block;
  height: 20px; 
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5); 
  border: 1px solid #c1c8cb; 
  border-radius: 10px;  
  padding-right: 10px;
  margin-left: 10px;
  padding-left: 3px;
}
.line-three> img {
 display: inline-block;
 padding-left: 5px;
 padding-bottom: -2px;
}
*/
.line-three {

  float: right;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #bdc4c7;
  margin-top: -2px;
  margin-right: 13px;
  box-sizing: border-box;
  padding-top: 1px;
  padding-left: 9px;
  padding-right: 7px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
}
div.line-three>a {
  display: inline-block;
  margin-right: 2px;
}
/* ----------------------------------------------------------- */
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
/* ----------------------------------------------------------- */

.line-menu { 
  width: 907px; 
  height: 32px; 
  border:1px solid #0a1030; 
  background:linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%); 
  /* background: linear-gradient(135deg, #2989d8 0%,#3a4046 0%,#3a4046 0%,#3a4046 0%,#3a4046 33%,#020202 100%);*/
  border-radius: 4px; 
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75); 
  margin-top: 7px; 
  margin-bottom: 11px;
  font-family: "Lucida Sans Unicode",Arial, Sans-serif; 
  line-height:32px;     
  
  margin-top: 3px;
}

.line-menu ul{
  display: inline-block;
  margin-left: 130px;

}

.line-menu  li {
  display: inline-block;
  font-size: 12px; 
  line-height: 12px;
  font-family: "Lucida Sans Unicode",Arial, Sans-serif; 
  padding-left: 29px;

}
.line-menu a{
  color: #889194; 
  text-decoration: none;
}
.zakaz {
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 11px;
  margin-left: 75px;
  padding-top: 1px;
}
.zakaz> span {
  display: inline-block;
  /* margin-right: 20px;*/
  color: #889194; 
}
.zakaz> span:nth-child(3) {
  color:#0d5a8f;
  margin-right: 16px;
}
.zakaz> span:nth-child(5) {
  color:#0d5a8f;
  margin-right: 16px;
}
/* ----------------------------------------------------------- */
/*            ЦЕНТРАЛЬНАЯ ЧАСТЬ                                */
.seek-left{
  width: 411px; 
  height: 134px;
  margin-left: 5px;
  float: left; 
  display: inline-block; 
  border: 1px solid #b3b3b4; 
  border-radius: 10px; 
  box-shadow: 0px 5px 5px 0px rgba(104, 104, 104, 0.75); 

}
.seek-middle{
  width: 190px; 
  height: 134px;
  float: left;  

  display: inline-block; 
  border: 1px solid #b3b3b4; 
  border-radius: 10px; 
  box-shadow: 0px 5px 5px 0px rgba(104, 104, 104, 0.75); 

  margin-left: 15px; 


}
.seek-right{
  width: 266px;  
  height:   134px; 
  display: inline-block; 
  border: 1px solid #b3b3b4; 
  border-radius: 10px; 
  box-shadow: 0px 5px 5px 0px rgba(104, 104, 104, 0.75); 
  margin-right: 9px;
  
  float: right; 
}
/* ----------------------------------------------------------- */
.main{
  margin-top: 5px;
  /*width: 909px; */
  overflow: hidden; 
  font-family: "Lucida Sans Unicode",Arial, Sans-serif; 
  margin-bottom:17px;
  /* padding-left: 10px;*/
}
.block-left{
  width: 188px; 
  float: left; 
 /* margin-top: 10px;*/
  padding-bottom: 20000px;
  margin-bottom: -20000px;

  /*height: 100%; */
  /* border: 1px solid blue; */

  /*background: url(../img/grey-bground.png) repeat; */
  /*background-size: 100%;*/
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.block-left > ul{
  margin-top: -12px;
  margin-left: 6px;
  margin-bottom: 21px;
  margin-bottom: -9px;
}
.block-left li { 
 display: inline-block; 
 color:#6b7a81;
 /* height: 15px; */
 font-size: 12.75px;
 margin-left: 33px; 
 /* line-height: 15px; */
 padding-bottom: 7px;
 margin-bottom: 4px; 
}
.block-left li:hover { 
 /* font-size: 13px; */
 font-weight: bold; 
 font-style: italic; 
 color: #0c3256; 
 border-bottom: 2px solid #58697f; 
}  
.block-left li:before { 
  content: " "; 
  display: inline-block; 
  width: 8px; 
  height: 8px; 
  border: none; 
  background: url(../img/fl-small.png);  
} 

.block-middle{

  float: left;  
  background: #a8b7be;
  width: 524px; 
  margin-top: 10px;
  border: 1px solid #a8b7be; 
  border-radius: 3px; 
  
  margin-left: 3px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.block-right{
  width: 177px; 
  margin-top: 10px;
  /*height: 100%;*/
  margin-left: 5px;
  float: right;        
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  /*padding-bottom: 10px;*/
}
.block-right label { 
  display: block; 
  position: relative; 
  height: 16px; 
  /* width: 68px; */
  font-size: 12.7px; 
  color: #465961; 
  /* padding: 7px 0 0 34px; */
  padding: 4px 0 0 14px; 
  margin-bottom: 4px;  
} 
.block-right button { 
  width: 81px; 
  height: 26px; 
  border: 1px solid #7a95a1; 
  background-image:linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%); 
  border-radius: 13px; 
  cursor: pointer; 
  font-family: Arial, Sans-serif; 
  font-size: 12px; 
  color: #ffffff; 
  margin: 16px 0 0 9px; 
  margin-left: 17px;
  margin-top: 21px;
}

.block-right input[type="checkbox"] {

 margin-right: 10px;
}
.row { 
 padding: 15px 0 0 21px; 
 height: 188px; 
} 

.price { 
 width: 136px; 
 float: left; 
 margin-right: 31px; 
} 
.row .wheel:last-child{ 
 margin-right: 0px; 
} 

.row:last-child { 
 margin-bottom: 19px; 
} 


.price-img { 
 position: relative; 
 width:137px; 
 height: 128px; 
 border: 1px solid #acb5b8; 

 border-radius: 7px; 
 background-color: white; 
 margin-bottom: 4px;  
 text-align: center;   
} 

.price p{ 
 display: block; 
 font-family: "Lucida Sans Unicode",Arial,sans-serif; 
 font-size: 12.5px; 
 color:#000000; 
 text-align: center; 

} 
.price p:first-child { 
 font-size: 15px; 
 color:#206988; 

} 
.price p:last-child { 
 font-family: Arial, Sans-serif; 
 font-weight: bold; 
 font-style: italic; 
 font-size: 16px; 
 color:#114165; 
 padding-left:  5px; 
} 
/* ---------------------------------------------------------------------- */
.katalog{
  width: 180px; 
  height: 24px; 
  border-radius: 12px; 
  border: 1px solid #949fa4; 
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75); 
  font-size: 12.73px; 
  color: #114165; 
  margin-top: 13px; 
  margin-bottom: 15px; 
  line-height: 24px; 

}
.katalog img{ 
  display: inline-block; 
  float: left; 
  width: 22px; 
  height: 21px; 
  margin: 1px  2px 0; 
} 
.subkatalog{
  /*width: 148px; 
  height: 24px; 
  border-radius: 12px; 
  border: 1px solid #949fa4; 
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75); 
  font-size: 12.73px; 
  color: #114165; 
  margin-top: 3px; 
  margin-bottom: 15px; 
  line-height: 24px;
  margin-left: -14px;*/ 


  width: 145px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid #949fa4;
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  font-size: 12.73px;
  color: #114165;
  margin-top: 3px;
  margin-bottom: 15px;
  line-height: 24px;
  padding-left: -3px;
  margin-left: 4px;
}
.subkatalog > ul{
  margin-top: 3px;
}
.subkatalog img{ 
  display: inline-block; 
  float: left; 
  width: 22px; 
  height: 21px; 
  margin: 1px  2px 0; 
} 
.subkatalog>input{
 font-family: "Lucida Sans Unicode",Arial,sans-serif; 
} 

/* ---------------------------------------------------------------------- */
.katalog__right{
  width: 176px; 
  height: 24px; 
  border-radius: 12px; 
  border: 1px solid #949fa4; 
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75); 
  font-size: 12.73px; 
  color: #114165; 
  margin-top: 2px; 
  margin-bottom: -4px; 
  line-height: 24px; 
  margin-left: -6px;
}
.katalog__right img{ 
  display: inline-block; 
  float: left; 
  width: 22px; 
  height: 21px; 
  margin: 1px  3px 0; 
}
.subkatalog__right{
 width: 134px; 
 height: 24px; 
 border-radius: 12px; 
 border: 1px solid #949fa4; 
 box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75); 
 font-size: 12.73px; 
 color: #114165; 
 margin-top: 18px; 
 margin-bottom: 2px; 
 line-height: 24px;
 
 margin-left: 5px;
}  
.subkatalog__right img{ 
  display: inline-block; 
  float: left; 
  width: 22px; 
  height: 24px; 
  margin: 1px  5px 0; 
}
/*.subkatalog__right> label { 
 font-size: 13px; 
 line-height: 25px; 
 padding-left: 8px; 
 } */
 /* ----------------------------------------------------------------------- */
 .site-footer, .page-wrap:after {
  padding-top: 10px;
  height: 150px; 
}
.foot1{
  padding: 0 auto;
  height: 59px;
  /*  border: 1px solid blue; */
  text-align: center;
}
.foot1 img{
  padding-top: 0;
  vertical-align: center;
}
.foot2 {

  height: 100px;
  background: #213a4d;
  /* border: 1px solid red; */
  /*margin-right: 17px;*/

}
.footer-img{
  list-style: none;
  line-height: 40px;
  /* padding-top: 10px;*/
}
.footer-img li{
  display: inline-block;
  height: 40px;
}

.footer-line{
  font-size: 12px;
  font-family: Arial, Sans-serif;
  line-height: 12px;
  list-style: none;
  text-align: center; 
  padding-top: 13px;
}
  /* display: inline-block;
  }*/
  ul.footer-line li{
    display: inline-block;
    color: #bec6c9;
    /*  margin-right: 12px;*/
    /*margin-left: 12px;*/
    padding-left: 12px;
    padding-right: 12px;
    border-right:  2px solid #bec6c9; 
  }

  ul.footer-line li:first-child{  
    color: #4b9cba;
    border-left: none;
  }
  ul.footer-line li:last-child{  

    border-right: none;
  }
  .site-footer p{
    color: #724542;
    margin-top: 17px;
    font-family: Arial,sans-serif;
    line-height: 10px;
    font-size: 10px;
    text-align: center;
  }
/*
ul.m-side li:nth-child(3){
  background-color: #f9f9f9;
  padding-left: 30px;
}


ul.footer-line{
  list-style: none; 
  margin-left: 0px; 
  padding-left: 0; 

  margin-right: 10px;
  font-size: 16px;
}
ul.m-footer li{
  display: inline-block; 
  margin-left: 0;
  padding-left: 40px;
  padding-right:40px;

  
}*/