* {
  margin: 0;
  padding: 0; }

.clear {
  content: '';
  clear: both;
  display: block; }

.line-header {
  height: 538px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(../../img/background.png);
  background-repeat: no-repeat;
  background-size: 1145px 538px;
  background-position: center; }

.line-footer {
  border-top: 4px solid #ff4e50;
  margin-top: 3174px; }

.wrapper {
  position: absolute;
  width: 320px;
  left: 50%;
  margin-left: -160px; }

.header__login {
  color: #FFF;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  float: right;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 6px 17px 6px 17px;
  border: 2px solid transparent; }
.header__login:hover {
  border: 2px solid #FFF; }
.header__logo {
  width: 177px;
  color: #FFF;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  margin-top: 116px;
  margin-left: 70px; }
.header__title {
  font-size: 27px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFF;
  text-indent: 0;
  letter-spacing: 2px; }
.header__title-1 {
  margin-top: 28px; }
.header__title-2 {
  margin-top: 2px; }
.header__about {
  text-align: center;
  margin-top: 12px;
  margin-left: 46px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  width: 226px; }

.sign {
  margin-right: 81px; }

.search {
  width: 200px;
  background-color: #ff4e50;
  font-size: 14px;
  margin: 34px auto;
  padding: 12px 39px 11px 39px;
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  margin-left: 20px;
  margin-top: 13px; }

.search a {
  color: #FFF;
  text-decoration: none; }

/* -------------------main content----------------------------*/
.content {
  margin-top: 172px; }
  .content__head {
    font-size: 21px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px; }
  .content__head-2 {
    margin-left: 2px;
    margin-top: 47px;
    width: 310px; }

/* -------------------  carousel  ----------------------------*/
.carousel {
  margin-left: 10px; }

.carousel-wrapper {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: -10px; }

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 238px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left;
  width: 300px; }

.jcarousel li img {
  margin-top: -65px; }

.carousel-control {
  position: absolute;
  height: 66px;
  width: 33px;
  cursor: pointer;
  margin-top: 145px;
  display: none; }

.jcarousel-prev {
  background: url(../../img/controls.png);
  margin-left: 20px;
  margin-top: 144px; }

.jcarousel-next {
  background: url(../../img/controls.png);
  background-position: 32px -1px;
  margin-left: 250px; }

.step {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-top: 67px;
  margin-left: 24px;
  letter-spacing: 2px;
  color: #FFF;
  background-color: #ff4e50;
  padding: 5px 11px 5px 11px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-transform: uppercase; }

.step-2 {
  margin-top: 98px;
  margin-left: 22px; }

.carousel-heading {
  position: absolute;
  margin-top: 103px;
  width: 210px;
  text-align: center;
  text-indent: -7px;
  font-size: 24px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.heading-2 {
  margin-top: 135px;
  margin-left: 13px; }

.carousel-text {
  position: absolute;
  margin-top: 173px;
  margin-left: 18px;
  width: 264px;
  font-size: 14px;
  color: #acacad;
  font-family: 'Roboto', sans-serif; }

.carousel-wrapper:nth-child(3) {
  margin-right: 0; }

/*  -------------------  persones  -------------------*/
.persones {
  margin-top: 16px;
  height: 950px; }

.persone {
  float: left;
  margin: 0;
  height: 240px;
  width: 100%; }
  .persone__foto {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: auto;
    position: relative; }
  .persone__big {
    position: absolute;
    border-radius: 60px;
    overflow: hidden; }
  .persone__small {
    position: absolute;
    bottom: -5px;
    right: -5px; }
  .persone__name {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 18px;
    font-size: 14px; }
  .persone__about {
    font-family: 'Roboto', sans-serif;
    color: #acacad;
    width: 220px;
    margin: 14px auto;
    font-size: 14px;
    text-align: center; }
  .persone__num-4 {
    margin-right: 0; }

/*  -------------------  SEE  -------------------*/
.see-partners-link {
  text-decoration: none; }

.see-partners {
  margin: 23px auto;
  font-size: 14px;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  height: 36px;
  width: 275px; }

.see-partners:hover {
  background-color: #ff4e50;
  color: #FFF; }

.content__head-3 {
  margin-top: 36px; }

.btn__seek {
  margin: 20px auto;
  /* padding: 10px 30px;*/
  border: red solid 2px;
  border-radius: 40px;
  text-align: center;
  width: 226px; }

#see-partners {
  color: red;
  background-color: white;
  border: 2px red solid;
  margin-top: -9px;
  width: 279px; }

.searching {
  /* margin: 12px auto;*/
  width: 100%;
  text-align: center; }

/*  ---------------------------    masonry           */
.masonry-layout {
  margin: 14px auto;
  width: 301px; }

.grid-item {
  width: 260px;
  height: 121px;
  margin-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  background: gray;
  border: 1px solid #FFF;
  border-radius: 5px; }

.image-item {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  margin-top: 44px; }

.grid-item--width2 {
  width: 260px; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.search-form__heading {
  font-size: 21px;
  margin-left: -3px;
  margin-top: 27px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 0.6px; }

.search-form__heading-small {
  font-size: 18px;
  margin-top: 13px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.search-form__sarea {
  width: 278px;
  height: 38px;
  margin-top: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-left: 16px;
  outline: none;
  border: 1px solid #cccccc;
  text-indent: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.search-button {
  width: 278px;
  height: 38px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background-color: #ff4e50;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  cursor: pointer; }

#search-form__sideas {
  width: 277px;
  margin-top: 11px;
  margin-left: 21px; }

.footer {
  margin-top: 60px; }
  .footer__logo {
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .footer__company {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    margin-top: 11px;
    font-size: 14px;
    text-transform: capitalize; }
  .footer__complist {
    list-style: none;
    margin-left: 64px;
    font-size: 14px;
    margin-top: 3px; }
  .footer__complist li {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-right: 14px;
    color: #666666; }
  .footer__partners {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    margin-top: 11px;
    font-size: 14px;
    text-transform: capitalize; }

.make__logo {
  height: 60px;
  width: 112px;
  margin: 14px auto; }

.make__logo-title {
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-indent: 15px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.make__logo-img {
  margin-top: 7px; }

/*# sourceMappingURL=part_main.css.map */
