

.main{

  background: url(../img/fon.jpg) no-repeat;
  background-size: cover;	
  height: 900px;
}
.head-menu{ 
  background-color: #085595; /*red;*//*#085595;*/
  color: #60b5ed; 
  height: 36px; 
  line-height: 36px; 
} 
.container{
 float: right;
 display: block;
}

.line-menu li {
  list-style: none; 	
  font-size: 14px; 
  /* line-height: 14px;*/
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.line-menu li:hover{ 
  margin: 0; 
  padding-right: 10px;
  padding-left: 10px;
  line-height: 36px;  
  background: #4eabda; 
  color: white; 
} 

.left-bord{
  border-left: 2px solid #56a2dc; 
}

.minhas{
  color: white;
}
.ola { margin: 0;padding: 0;
 line-height: 36px; 
 height: 36px;
 background: linear-gradient(to top, #2e7ac4, #51b1dc) ; 
 color: #fff; 
 /*border: 1px solid #4f9fd9; */
} 
.ola>a{
  color :white;
}

/* .container img{
  float: right;
 }
 */
 .form-se{

   display: block;
   background: #474842;
   height: 500px;
   width: 500px;
   opacity: 0.8;
   margin: 50px auto;
	/*margin-left: 300px;
	margin-top: 150px;*/
	/*text-align: center;*/
}
.form-se input{

 display: block; 
 width: 220px; 
 height: 23px; 
 margin: 12px auto; 
 border: none;    

 background: url(../img/inp.png); 
 border-bottom: 2px solid #484847; 

 padding:  0 14px; 
 color: white; 
}
.form-se input:focus { 

 box-shadow: 0 0 15px rgba(75, 134, 177, 1); 
 background: url(../img/input-focus.png);     
 border-bottom: 2px solid #689bcc; 
} 
.form-se input:first-child{
  margin-bottom: 10px;
}
.img-height{
  height: 18px;
}
.facebook { 
  margin: auto;
  margin-top: 30px; 
  width: 240px; 

} 
.facebook img { 
  width: 240px;
  height: 25px;  
} 

.line_block { 
  margin: 20px auto; 
  position: relative; 
  text-align: center; 
  width: 193px; 
} 


.line1, .line2 { 
  position: absolute; 


  padding: 0 40px; 
  top: 8px; 
  color: transparent; 
  border-top: 1px solid #666666; 
  border-bottom: 1px solid #000; 
  font-size: 0; 

} 


.line1{ 
  left: 0; 
} 
.line2{ 
 right: 0; 
} 


.ou{ 
  color: #999; 
  font-size: 11px; 

} 

/*.form-se input[type="label"]{
display: inline-block;
}*/

p{
	text-align: center;
}
p.cadast{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  color: white;
}
p.abov{
  color: white;
  font-size: 11px;
}
/* -----------------------*/

.form-se input.mcreate { 
 display: block; 
 background: linear-gradient(to top, #2e7ac4, #50aedb) ; 
 color: white; 
 font-size: 10px; 
 /*width: 120px; */
 height: 25px; 
 line-height: 25px; 
 border-radius: 3px; 
 border: 1px solid #6bbae7; 
 margin: 13px auto; 
 font-weight: bold; 
 text-align: center; 
} 
.check-send{
  margin-left: 130px;
  color: white;
}
.form-se input.ch-incl{
  display: inline-block; 
  width: 15px;
  height: 15px;
}

/*  .main{
  	width: 100%;
   	  background-image: url(../img/fon.png);  
   	  background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  
   margin:0 auto;
}*/