*{
	margin: 0;
	padding: 0;
}
.main{
	margin-left: 10%;
	/*padding-left: 100px;*/
	margin-right: 10%;
	margin-top: 50px;
}
 table { 
    width: 100%; /* Ширина таблицы */
   /* border: 10px double black; /* Рамка вокруг таблицы */*/
    border-collapse: collapse; /* Отображать только одинарные линии */
   }

td {
	border: 10px solid #000;
	/*padding: 200px,100px,100px;*/
	/*margin-left: 100px;
	margin-right: 100px;*/
	width: 100px;
	height: 80px;
}
.none-bottom{
	border-bottom: none;
}
.none-right{
	border-right: none;
}
.color-yellow{
	background-color: yellow;
}
.color-blue{
	background: blue;
}
.color-red{
	background: red;
}
.color-black{
	background: black;
}
.color-op{
	background: black;
	opacity: 0.95;
}
td.color-clear{
	border: 10px solid #fff;
	width: 100px;
	height: 80px;
}