.main{
	margin-left: 10%;
	/*padding-left: 100px;*/
	margin-right: 10%;
	margin-top: 50px;
}
 table {   
   margin-left: 5%;
    border: 12px solid white; 
   }

td { 
	border: 10px solid black; 
	width: 100px; 
 	 
 } 
 tr { 
	height:100px;  
} 
.hey200
{
	height: 200px;
}
 
.none-bottom{
	border-bottom: none;
}
.none-right{
	border-right: none;
}
.color-yellow{
	background-color: yellow;
}
.color-blue{
	background: blue;
}
.color-red{
	background: red;
	
}
.color-black{
	background: black;
	
}
.color-op{
	background: black;
	opacity: 0.95;
}