*{
	margin: 0;
	padding: 0;
}
.main{
	margin-left: 10%;
	/*padding-left: 100px;*/
	margin-right: 10%;
	margin-top: 50px;
}
td {
	border: 10px solid #000;
	/*padding: 200px,100px,100px;*/
	/*margin-left: 100px;
	margin-right: 100px;*/
	width: 100px;
	height: 80px;
}
.color-yellow{
	background-color: yellow;
}
.color-blue{
	background: blue;
}
.color-red{
	background: red;
}
.color-black{
	background: black;
}
.color-clear{
	border: 10px solid #fff;
}